@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-family: "iconfont", "微软雅黑" !important;
}

img {
  border: none;
}

html {
  font-size: 100px;
}

body {
  font-size: 16px;
  background: #23232E;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 48px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

#zhao {
  position: fixed;
  top: -10%;
  left: -10%;
  background-image: url("../images/11.jpg");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  height: 150%;
  width: 150%;
  text-align: center;
  float: left;
  -webkit-filter: blur(0.3rem);
  -moz-filter: blur(0.3rem);
  -o-filter: blur(0.3rem);
  -ms-filter: blur(0.3rem);
  filter: blur(0.3rem);
  z-index: -1;
}

#header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 10%;
  display: block;
}

#header .return, #header .message, #header .share {
  height: 100%;
  float: left;
  display: block;
}

#header .return {
  width: 15%;
  position: relative;
  z-index: 10;
}

#header .return a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0.5rem;
  height: 0.5rem;
  display: block;
  color: #FFFFFF;
  line-height: 0.5rem;
  font-size: 0.5rem;
  text-align: center;
}

#header .message {
  width: 70%;
  position: relative;
}

#header .message .show {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  display: block;
  height: 0.65rem;
}

#header .message .show .name {
  width: 100%;
  display: block;
  height: 53%;
  padding-left: 0.2rem;
  font-size: 0.35rem;
  color: #fff;
  letter-spacing: 0.01rem;
  line-height: 0.4rem;
}

#header .message .show .author {
  width: 100%;
  display: block;
  height: 47%;
  margin-top: 0.1rem;
  padding-left: 0.2rem;
  font-size: 0.25rem;
  color: #a5a5a5;
  letter-spacing: 0.01rem;
  line-height: 0.35rem;
}

#header .share {
  width: 15%;
  position: relative;
}

#header .share a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0.5rem;
  height: 0.5rem;
  display: block;
  color: #FFFFFF;
  line-height: 0.5rem;
  font-size: 0.5rem;
  text-align: center;
}

#lyric {
  position: fixed;
  left: 0;
  top: 15%;
  z-index: 1;
  width: 100%;
  height: 58.5%;
  display: block;
}

#lyric .lyric-box {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}

#lyric .lyric-box .lyric {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

#lyric .lyric-box .lyric p {
  float: left;
  display: block;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  width: 100%;
  font-size: 0.35rem;
  color: #eceaea;
  overflow: hidden;
}

#lyric .lyric-box .lyric .active {
  color: #ce3d3e;
  font-size: 0.4rem;
  font-weight: bold;
}

/*歌曲列表*/
#volume {
  position: fixed;
  top: 10%;
  left: 0;
  height: 5%;
  width: 100%;
  display: block;
  overflow: hidden;
}

#volume .left, #volume .right {
  float: left;
  height: 100%;
  display: block;
}

#volume .left {
  width: 15%;
}

#volume .left a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 0.65rem;
  text-align: center;
  font-size: 0.35rem;
  color: #f0f1f1;
}

#volume .right {
  width: 85%;
  position: relative;
}

#volume .right .volume {
  margin-left: 5%;
  width: 90%;
  height: 0.05rem;
  margin-top: 0.3rem;
  background: #a0a9a9;
  border-radius: 0.1rem;
  position: relative;
  z-index: 1;
}

#volume .right .volume a {
  display: block;
  width: 0.26rem;
  height: 0.26rem;
  position: absolute;
  left: -0.13rem;
  top: -0.105rem;
  border-radius: 50%;
  z-index: 5;
  background: #fff;
}

#volume .right .volume .this {
  z-index: 4;
  height: 100%;
  width: 0;
  position: absolute;
  left: 0;
  top: 0;
  background: #f0f1f1;
  border-radius: 0.1rem;
}

#floor {
  position: fixed;
  left: 0;
  bottom: 2%;
  z-index: 1;
  width: 100%;
  height: 24.5%;
  display: block;
}

#floor #menu, #floor #progress, #floor #key {
  width: 100%;
  float: left;
}

#floor #menu {
  height: 30%;
}

#floor #menu .center {
  display: block;
  width: 80%;
  height: 100%;
  margin-left: 10%;
}

#floor #menu .center div {
  width: 25%;
  float: left;
  height: 100%;
}

#floor #menu .center .like {
  position: relative;
}

#floor #menu .center .like a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  font-size: 0.6rem;
  color: #fff;
  text-align: center;
  line-height: 0.6rem;
}

#floor #menu .center .like .click {
  color: red;
}

#floor #menu .center .download {
  position: relative;
}

#floor #menu .center .download a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  font-size: 0.5rem;
  color: #fff;
  text-align: center;
  line-height: 0.6rem;
}

#floor #menu .center .comment {
  position: relative;
}

#floor #menu .center .comment a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  font-size: 0.5rem;
  color: #fff;
  text-align: center;
  line-height: 0.6rem;
}

#floor #menu .center .more {
  position: relative;
}

#floor #menu .center .more a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  font-size: 0.5rem;
  color: #fff;
  text-align: center;
  line-height: 0.6rem;
}

#floor #progress {
  height: 26.7%;
}

#floor #progress .begin, #floor #progress .pro, #floor #progress .over {
  float: left;
  height: 100%;
  display: block;
}

#floor #progress .begin {
  width: 12%;
}

#floor #progress .begin span {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 0.8rem;
  text-align: right;
  font-size: 0.16rem;
  color: #999;
}

#floor #progress .pro {
  width: 76%;
  position: relative;
}

#floor #progress .pro .progress {
  margin-left: 5%;
  width: 90%;
  height: 0.05rem;
  margin-top: 0.37rem;
  background: #616969;
  border-radius: 0.1rem;
  position: relative;
  z-index: 1;
}

#floor #progress .pro .progress a {
  display: block;
  width: 0.3rem;
  height: 0.3rem;
  position: absolute;
  left: -0.15rem;
  top: -0.125rem;
  border-radius: 50%;
  z-index: 5;
  background: #fff;
}

#floor #progress .pro .progress .red {
  z-index: 4;
  height: 100%;
  width: 0;
  position: absolute;
  left: 0;
  top: 0;
  background: #ff3838;
  border-radius: 0.1rem;
}

#floor #progress .over {
  width: 12%;
}

#floor #progress .over span {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 0.8rem;
  text-align: left;
  font-size: 0.16rem;
  color: #999;
}

#floor #key {
  height: 43.3%;
}

#floor #key div {
  float: left;
  height: 100%;
  width: 20%;
}

#floor #key .start a {
  margin-left: 0.1rem;
  width: 100%;
  margin-top: -0.1rem;
  height: 100%;
  font-size: 1.3rem;
  color: #fff;
  display: block;
  z-index: 2;
}

#floor #key .left {
  position: relative;
}

#floor #key .left a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 0.78rem;
  height: 0.78rem;
  font-size: 0.5rem;
  line-height: 0.70rem;
  color: #fff;
  display: block;
  border-radius: 50%;
  border: 2px solid #fff;
}

#floor #key .right {
  position: relative;
}

#floor #key .right a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 0.78rem;
  height: 0.78rem;
  font-size: 0.5rem;
  line-height: 0.70rem;
  color: #fff;
  display: block;
  border-radius: 50%;
  border: 2px solid #fff;
}

#floor #key .circulation {
  position: relative;
}

#floor #key .circulation a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 0.78rem;
  height: 0.78rem;
  font-size: 0.6rem;
  line-height: 0.70rem;
  color: #fff;
  display: none;
}

#floor #key .circulation .active {
  display: block;
}

#floor #key .list {
  position: relative;
}

#floor #key .list a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 0.78rem;
  height: 0.78rem;
  font-size: 0.6rem;
  line-height: 0.70rem;
  color: #fff;
  display: block;
}

@keyframes lists {
  0% {
    height: 0;
  }
  50% {
    height: 2.6rem;
  }
  100% {
    height: 5.15rem;
  }
}

@keyframes list {
  0% {
    height: 5.15rem;
  }
  50% {
    height: 2.6rem;
  }
  100% {
    height: 0;
  }
}

#list {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 20;
  background: #f9f9f9;
  display: block;
  width: 100%;
  height: 0;
  overflow: hidden;
}

#list .uls-header {
  float: left;
  height: 1.1rem;
  width: 100%;
  display: block;
  background: #fff;
  border-bottom: 1px solid #e2e2e2;
}

#list .uls-header .collect, #list .uls-header .list, #list .uls-header .clear {
  float: left;
  height: 100%;
}

#list .uls-header .collect {
  position: relative;
  width: 22%;
}

#list .uls-header .collect a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  width: auto;
  height: auto;
  font-size: 0.3rem;
  color: #929292;
  text-align: center;
  line-height: 1.1rem;
}

#list .uls-header .clear {
  position: relative;
  width: 22%;
}

#list .uls-header .clear a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  width: auto;
  height: auto;
  font-size: 0.3rem;
  color: #929292;
  padding-right: 15%;
  text-align: right;
  line-height: 1.1rem;
}

#list .uls-header .list {
  position: relative;
  width: 56%;
}

#list .uls-header .list a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  width: auto;
  height: auto;
  overflow: hidden;
  text-align: center;
  line-height: 1.1rem;
  font-size: 0.35rem;
  color: #333333;
}

#list #uls {
  float: left;
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 0.1rem;
  background: #fff;
}

#list #uls li {
  display: block;
  padding-left: 0.25rem;
  width: 100%;
  float: left;
  height: 0.95rem;
  border-bottom: 1px solid #e1e1e1;
  position: relative;
}

#list #uls li .names {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 80%;
  left: 5%;
  line-height: 0.95rem;
  font-size: 0.3rem;
  color: #000000;
}

#list #uls li .delete {
  text-align: right;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 5%;
  text-align: center;
  line-height: 0.95rem;
  font-size: 0.4rem;
  width: auto;
  height: auto;
  color: #cfcfcf;
}

#list #uls .active span {
  color: red;
}

#list .uls-floor {
  float: left;
  height: 1.1rem;
  width: 100%;
  display: block;
  background: #fff;
  border-top: 1px solid #e2e2e2;
}

#list .uls-floor .close {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 1.1rem;
  font-size: 0.35rem;
  color: #333333;
}

#list.li {
  animation: lists 1s linear both;
}

#list.lis {
  animation: list 1s linear both;
}

@keyframes click-one {
  0% {
    width: 0;
  }
  50% {
    width: 40%;
  }
  100% {
    width: 80%;
  }
}

@keyframes clicks-one {
  0% {
    width: 0;
  }
  99% {
    width: 0;
  }
  100% {
    width: 20%;
  }
}

@keyframes click-two {
  0% {
    width: 80%;
  }
  50% {
    width: 40%;
  }
  100% {
    width: 0;
  }
}

@keyframes clicks-two {
  0% {
    width: 20%;
  }
  1% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

#user {
  width: auto;
  height: 100%;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  overflow: hidden;
}

#user .user-left {
  height: 100%;
  width: 0;
  display: block;
  float: left;
  background: #fff;
  position: relative;
  overflow: hidden;
}

#user .user-left .user-top {
  float: left;
  height: 28%;
  width: 100%;
  display: block;
  position: relative;
  background: url(../images/user.jpg);
  background-size: cover;
  overflow: hidden;
}

#user .user-left .user-top .message {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 5%;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background: url(../images/1.jpg);
  background-size: cover;
  overflow: hidden;
}

#user .user-left .user-top .user-name {
  position: absolute;
  left: 5%;
  bottom: 8%;
  display: block;
  height: 0.6rem;
  width: auto;
  font-size: 0.4rem;
  color: #fff;
  letter-spacing: 0.01rem;
  line-height: 0.6rem;
  overflow: hidden;
}

#user .user-left .user-top .registration {
  position: absolute;
  right: 6%;
  bottom: 8%;
  display: block;
  border-radius: 0.05rem;
  border: 1px solid #fff;
  height: 0.6rem;
  width: 1.2rem;
  font-size: 0.35rem;
  color: #fff;
  letter-spacing: 0.1rem;
  text-align: center;
  line-height: 0.6rem;
  overflow: hidden;
}

#user .user-left .user-bottom {
  float: left;
  height: 65%;
  width: 100%;
  display: block;
  overflow: hidden;
}

#user .user-left .user-bottom li {
  float: left;
  height: 1rem;
  width: 100%;
  display: block;
  background: #f2f4f5;
}

#user .user-left .user-bottom li a {
  height: 100%;
  width: 100%;
  padding-left: 5%;
  line-height: 1rem;
  text-align: left;
  font-size: 0.3rem;
  color: #ce3d3e;
}

#user .user-left .user-bottom li a span {
  margin-left: 0.35rem;
  color: #4b4c4c;
}

#user .user-left .set {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 7%;
  width: 100%;
  background: #fff;
  overflow: hidden;
}

#user .user-left .set .set-left {
  float: left;
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#user .user-left .set .set-left a {
  font-size: 0.3rem;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 0.3rem;
  border-right: 1px solid #dadcdd;
  color: #444444;
  overflow: hidden;
}

#user .user-left .set .set-right {
  float: left;
  width: 50%;
  position: relative;
  height: 100%;
  overflow: hidden;
}

#user .user-left .set .set-right a {
  font-size: 0.3rem;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 0.3rem;
  color: #444444;
  overflow: hidden;
}

#user .dong {
  animation: click-one 1s linear both;
}

#user .dongs {
  animation: click-two 1s linear both;
}

#user .user-right {
  height: 100%;
  width: 0;
  display: block;
  float: left;
  background: rgba(0, 0, 0, 0.5);
}

#user .zhezhao {
  animation: clicks-one 1.1s linear both;
}

#user .zhezhaos {
  animation: clicks-two 1.1s linear both;
}

#user.user-display {
  display: none;
}
